<!DOCTYPE HTML>
<html>
    <head></head>
    <body>
        <p>You have received a message from DevMatch contact form <br> <br>
        <%= "#{ @name }, #{ @email}." %></p>
        <p><%= @body %> </p>
    </body>
</html>